<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929258545134-1cgis7fmio0krn6ftd9mh29c7941o7if.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929258545134-1cgis7fmio0krn6ftd9mh29c7941o7if</string>
	<key>API_KEY</key>
	<string>AIzaSyAuBLpeGkertT3x1ZD-twS6m74auYOCgTw</string>
	<key>GCM_SENDER_ID</key>
	<string>929258545134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterblogapp</string>
	<key>PROJECT_ID</key>
	<string>iosandandroidblogapp-5912c</string>
	<key>STORAGE_BUCKET</key>
	<string>iosandandroidblogapp-5912c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929258545134:ios:5b3090996e80863d62f8ff</string>
	<key>DATABASE_URL</key>
	<string>https://iosandandroidblogapp-5912c.firebaseio.com</string>
</dict>
</plist>